mixin item()
	.category-item
		img(src="images/frame.jpg")
		h6 Double-Layered Top
		p € 89,95

mixin category-block(text)
	.category-block
		.category-header
			h1=text
			a(href="#") show more
		.items-block
			+item()
			+item()
			+item()
			+item()

+category-block('COATS')
+category-block('OUTWEAR')
+category-block('T-SHIRTS')