.footer
	.section-1
		h4 Collection
		ul
			each val in ["Woman (1725)", "Man (635)", "Kids (2514)", "Comming Soon (76)"]
				li 
					a(href='#')=val
	.section-2
		h4 Site
		ul
			each val in ["Terms of Service", "Privacy Policy", "Copyright Policy", "Press Kit", "Support"]
				li 
					a(href='#')=val				
	.section-3
		h4 Shop
		ul
			each val in ["About us", "Shipping Metods", "Career", "Contact"]
				li 
					a(href='#')=val				
	.section-4
		h4 Social
		p Shoper is made with love in Warsaw, 2014 © All rights reserved. El Passion
		.social-icons
			img(src="images/t.png")
			img(src="images/f.png")
			img(src="images/i.png")