.sign-up_block
	h2 sign up to receive our updates
	p Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat.
	.search-email
		input(type='text' placeholder='Your e-mail')
		a(href="#")
			img(src='images/add.png')