doctype html
html
	head
		include includes/head
		
	body
		include includes/header
		include includes/content-category
		include includes/slider
		include includes/footer
		script(src="script.js")